<style>
body{
  background: bisque;
}
.center-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100%;
}

blockquote {
font-family: Georgia, serif;
font-size: 3vh;
font-style: italic;
margin: 0.25em 0;
padding: 0.35em 40px;
line-height: 1.45;
position: relative;
color: #383838;
}

blockquote:before {
display: block;
padding-left: 10px;
content: "\201C";
font-size: 80px;
position: absolute;
left: -20px;
top: -20px;
color: #7a7a7a;
}

blockquote cite {
font-size: 2vh;
display: block;
margin-top: 5px;
margin-right: -3rem;
}

blockquote cite:before {
content: "\2014 \2009";
}
</style>
<div class="center-screen">
  <blockquote>
    {{.Quotation}}
  <cite>{{.Person}}</cite>
  </blockquote>
</div>
